<div class="container-content">
    <div class="card p-4 mt-4">
    <h4 class="mb-3">📝 Yêu cầu mượn sách</h4>
    <form>
        <div class="mb-3">
            <label for="fullname" class="form-label">Họ và Tên</label>
            <input type="text" class="form-control" id="fullname" required>
        </div>
        <div class="mb-3">
            <label for="studentId" class="form-label">Mã Sinh Viên</label>
            <input type="text" class="form-control" id="studentId" required>
        </div>
        <div class="mb-3">
            <label for="bookTitle" class="form-label">Tên sách</label>
            <input type="text" class="form-control" id="bookTitle" required>
        </div>
        <div class="mb-3">
            <label for="bookId" class="form-label">Mã sách</label>
            <input type="text" class="form-control" id="bookId" required>
        </div>
        <div class="mb-3">
            <label for="borrowDate" class="form-label">Ngày mượn</label>
            <input type="date" class="form-control" id="borrowDate" required>
        </div>
        <div class="mb-3">
            <label for="returnDate" class="form-label">Ngày trả</label>
            <input type="date" class="form-control" id="returnDate" required>
        </div>
        <button type="submit" class="btn btn-primary">Gửi yêu cầu</button>
    </form>
</div>
</div>
