<div class="container-content">
    <div class="card p-4 mt-4">
        <h4 class="mb-3">📖 Danh sách sách mượn</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tên sách</th>
                    <th>Tác giả</th>
                    <th>Ngày mượn</th>
                    <th>Ngày trả</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Lập trình Web</td>
                    <td>Nguyễn Văn A</td>
                    <td>01/03/2025</td>
                    <td>15/03/2025</td>
                    <td>Đang mượn</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Học máy và AI</td>
                    <td>Trần Thị B</td>
                    <td>05/03/2025</td>
                    <td>20/03/2025</td>
                    <td>Đang mượn</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

